In [2]:
import pandas as pd

with pd.HDFStore("../input/train.h5", "r") as train:
    # Note that the "train" dataframe is the only dataframe in the file
    df = train.get("train")

In [3]:
import kagglegym

In [4]:
env = kagglegym.make()

In [5]:
observation = env.reset()

In [6]:
observation.train.head()

,id,timestamp,derived_0,derived_1,derived_2,derived_3,derived_4,fundamental_0,fundamental_1,fundamental_2,...,technical_36,technical_37,technical_38,technical_39,technical_40,technical_41,technical_42,technical_43,technical_44,y
0,10,0,0.370326,-0.006316,0.222831,-0.213030,0.729277,-0.335633,0.113292,1.621238,...,0.775208,NaN,NaN,NaN,-0.414776,NaN,NaN,-2.0,NaN,-0.011753
1,11,0,0.014765,-0.038064,-0.017425,0.320652,-0.034134,0.004413,0.114285,-0.210185,...,0.025590,NaN,NaN,NaN,-0.273607,NaN,NaN,-2.0,NaN,-0.001240
2,12,0,-0.010622,-0.050577,3.379575,-0.157525,-0.068550,-0.155937,1.219439,-0.764516,...,0.151881,NaN,NaN,NaN,-0.175710,NaN,NaN,-2.0,NaN,-0.020940
3,25,0,NaN,NaN,NaN,NaN,NaN,0.178495,NaN,-0.007262,...,1.035936,NaN,NaN,NaN,-0.211506,NaN,NaN,-2.0,NaN,-0.015959
4,26,0,0.176693,-0.025284,-0.057680,0.015100,0.180894,0.139445,-0.125687,-0.018707,...,0.630232,NaN,NaN,NaN,-0.001957,NaN,NaN,0.0,NaN,-0.007338

In [7]:
len(observation.train)

806298

In [8]:
len(observation.train["timestamp"].unique())

906

In [9]:
unique_times = list(observation.train["timestamp"].unique())
(min(unique_times),max(unique_times))

(0, 905)

In [10]:
observation.features.head()

,id,timestamp,derived_0,derived_1,derived_2,derived_3,derived_4,fundamental_0,fundamental_1,fundamental_2,...,technical_35,technical_36,technical_37,technical_38,technical_39,technical_40,technical_41,technical_42,technical_43,technical_44
0,0,906,0.246848,0.102251,0.002781,-0.029337,0.400748,-0.273942,0.535335,0.243197,...,-0.083835,-0.193842,-4.642828e-10,-4.642828e-10,-4.436047e-10,-0.057845,-0.054224,4.406503e-05,-1.999907e+00,-0.052079
1,7,906,0.217796,1.922894,0.752644,-0.237133,0.149876,-0.324906,-0.110032,-0.493290,...,-0.003478,-0.139345,-1.562500e-02,-1.562500e-02,-1.562500e-02,-0.017113,-0.067621,-1.562500e-02,-3.330669e-16,0.010135
2,11,906,-0.074121,-0.057722,1.595148,0.311800,-0.003560,0.274813,0.088182,-0.170704,...,-0.073679,-0.083068,-3.359413e-15,-7.448059e-23,-7.128695e-01,-0.045347,-0.094896,-7.277103e-01,-1.968750e+00,0.025098
3,12,906,0.160421,-0.037247,0.455026,0.022488,0.154796,-0.079147,0.865164,0.016182,...,0.471345,0.467192,-5.463366e-24,-6.938400e-04,-6.144731e-33,-0.030753,-0.240190,0.000000e+00,-1.301181e-13,-0.001249
4,13,906,-0.025554,-0.046826,NaN,-0.026069,NaN,-0.049894,0.046646,NaN,...,0.115415,0.090820,-3.105529e-20,-1.614121e-21,0.000000e+00,-0.133357,-0.068176,-5.743766e-24,-3.330669e-16,0.019396

In [11]:
observation.target.head()

   id    y
0   0  0.0
1   7  0.0
2  11  0.0
3  12  0.0
4  13  0.0

In [12]:
action = observation.target
observation, reward, done, info = env.step(action)

In [13]:
done

False

In [14]:
info

{}

In [15]:
observation.features.head()

,id,timestamp,derived_0,derived_1,derived_2,derived_3,derived_4,fundamental_0,fundamental_1,fundamental_2,...,technical_35,technical_36,technical_37,technical_38,technical_39,technical_40,technical_41,technical_42,technical_43,technical_44
0,0,907,0.241634,0.101084,0.002550,-0.028882,0.398276,-0.272570,0.538591,0.241426,...,-0.081623,-0.194489,-4.041816e-10,-4.041816e-10,-3.861803e-10,-0.057166,-0.055835,3.836084e-05,-1.999919e+00,-0.049153
1,7,907,0.204701,1.925502,0.753222,-0.237052,0.154132,-0.324891,-0.110032,-0.495813,...,-0.005009,-0.144726,-1.360235e-02,-1.360235e-02,-1.360235e-02,-0.017764,-0.087472,-1.360235e-02,-3.330669e-16,0.008787
2,11,907,-0.073517,-0.057697,1.611172,0.310672,-0.003293,0.272259,0.088949,-0.171558,...,-0.071035,-0.082874,-2.924539e-15,-6.483912e-23,-7.500384e-01,-0.045536,-0.104290,-7.629580e-01,-1.972795e+00,0.021927
3,12,907,0.160591,-0.037544,0.450525,0.021005,0.153457,-0.077793,0.858471,0.016490,...,0.474488,0.469150,-4.756136e-24,-6.040228e-04,-5.349299e-33,-0.030443,-0.222433,0.000000e+00,-1.132427e-13,-0.001827
4,13,907,-0.025554,-0.046826,NaN,-0.026069,NaN,-0.049894,0.046646,NaN,...,0.115415,0.090820,-2.703520e-20,-1.405174e-21,0.000000e+00,-0.133357,-0.054863,-5.000239e-24,-3.330669e-16,0.019338

In [16]:
len(observation.features)

968

In [17]:
reward

-0.2000274424971549

In [18]:
perfect_action = df[df["timestamp"] == observation.features["timestamp"][0]][["id", "y"]].reset_index(drop=True)

In [19]:
perfect_action.head()

   id         y
0   0 -0.003758
1   7 -0.009357
2  11 -0.001851
3  12  0.003090
4  13  0.008478

In [20]:
observation, reward, done, info = env.step(perfect_action)

In [21]:
reward

1.0

In [22]:
done

False

In [23]:
while True:
    target = observation.target
    timestamp = observation.features["timestamp"][0]
    if timestamp % 100 == 0:
        print("Timestamp #{}".format(timestamp))

    observation, reward, done, info = env.step(target)
    if done:        
        break

Timestamp #1000
Timestamp #1100
Timestamp #1200
Timestamp #1300
Timestamp #1400
Timestamp #1500
Timestamp #1600
Timestamp #1700
Timestamp #1800

In [24]:
info

{'public_score': 0.016651181430087304}